body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #c96f34;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
  background: #111;
  color: white;
}

nav h2 span {
  color: #ff914d;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav ul li {
  cursor: pointer;
}

.hire-btn {
  background: #ff914d;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
  background: #111;
  color: white;
  border-radius: 20px;
  margin: 40px;
}

.left {
  max-width: 50%;
}

.line {
  width: 60px;
  height: 4px;
  background: #ff914d;
  margin-bottom: 20px;
}

h1 {
  font-size: 40px;
}

.cta {
  background: #ff914d;
  border: none;
  padding: 12px 25px;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  color: white;
}

.right img {
  width: 350px;
}
